<!DOCTYPE html>
<html>

<head>
    <title>AJAXHW</title>
    <meta name="description" content="Коти в домашніх умовах">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/main.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <diV class="div">
        <div class="chocolate">
            <select name="select" class="select_chocolate">
    
            </select>
        </div>
        <div class="name">
            Ваш вибір:
            <ul class="choose">
        
            </ul>
        </div>
    </diV>


<script src="/js/main.js"></script>
</body>


</html>
